RewriteEngine On
DirectoryIndex /index.php index.php /index.html index.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(user/(.*?))/?$ profile.php?user=$2 [L]
RewriteRule ^(channel/(.*?))/?$ profile.php?user=$2 [L]
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(/user2/(.*?))/?$ /2009/channel.php?n= [L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^(settings/(.*?))/?$ account.php [L]
RewriteRule ^(dashboard/(.*?))/?$ account.php [L]
RewriteRule ^(profile/(.*?))/?$ account.php [L]
Options Indexes FollowSymLinks
Require all granted